../*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_build/doctrees
docs/_build/html
docs/_build/latex
docs/_build/latex/Makefile
docs/_build/latex/*.pdf

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# VS Code
.vscode/

# その他の無視するファイルやディレクトリ
../Git/
../OpenLapSim-master/
../SAE-Strategist-ai-engineer/
../SAE_Backup/
../SAE_LOGO.png
../SAE_Project.zip
../SAE_Project/
../SAE_Short_LOGO.jpg
../SAE_Short_LOGO.xcf
../SAE_audio_file/
../SAE_flow_chart.drawio
../SAE_main.zip
../SAE_main/
../SAE_main_program (2).zip
../SAE_main_program (3).zip
../SAE_main_program.zip
../SAE_main_program/
../SAE_program.py
../SAE_sample.py
../SSE_auto_setup_builder.py
../TestProgram.py
../TestProgram_test.py
../acc_settings.db
../acc_telemetry_port.txt
../app.py
../app_code.zip
../check_env.py
../import pyaudio.py
../insert_setup_data.py
../pip install flask.py
../python
../python_db-master/
../python_db/
../race_engineer_voice.py
../sae-ai-strategist-5c5a44d49169.json
../setup_sharing_api/
../templates/
../test_client.py
../test_client2.py
../write_telemetry_client.py
